@import "reset";
@import "variables/global";


body {
    overflow: hidden;
}

.app {
    background: var(--bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content_wrapper {
    flex: 1 0 auto;
    min-height: 70%;
}

