:root {
    --font-family-main: Manrope, "Times New Roman", serif;
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 18px;
    --font-line-l: 24px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // Размеры
    --navbar-height: 100px;

    // z - Индексы
    --modal-z-index: 10;

    // Цвета
    --overlay-color: rgba(0 0 0 / 60%);
    --divider-color: #CDD2DD;
    --bg-color: #F0F5F5;
    --primary-color: #08D899;
}

