.Footer {
  height: 220px;
  width: 100%;
  flex: 0 0 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--font-m);
  color: #676767;
  font-weight: 500;
}

.info {
  padding-left: 50px;
  width: 33%;
}

.logos {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.links {
  width: 33%;
  display: flex;
  justify-content: end;

  &_wrapper {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-right: 45px;
  }
}

.link {

}

@media (width < 700px) {
  .info {
    padding-left: 10px;
  }

  .links_wrapper {
    margin-right: 10px;
  }
}


