.Navbar {
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 0 0 5em;
}


.mainLink {
    margin-right: 15px;
}

.wallets {
    position: absolute;
    top: 25px;
    right: 50px;
    padding-right: 20px;
    color: var(--inverted-primary-color);
    display: flex;
}

.logos {
    display: flex;
    align-items: center;
}


.address {
    padding-right: 15px;
    color: var(--primary-color);
}

.buttonInner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.account {
    position: relative;
}

.disconnect {
    position: absolute;
    top: 65px;
    right: 0;
}

@media (width < 700px) {
    .Navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .wallets {
        position: relative;
        top: 0;
        left: 0;
    }

    .logos {
        margin-left: 15px;
    }
}

