
.Chains {
  margin-right: 55px;
  display: flex;
  align-items: center;
  position: relative;
  font: var(--font-m);
  color: var(--primary-color);
}


@media (width < 1150px) {
  .Chains {
    display: none;
  }
}
