.Button {
    cursor: pointer;
    color: #FFFFFF;
    padding: 6px 15px;
    border: none;
    background: none;
    outline: none;
    border-radius: 8px;
    width: 200px;
    height: 50px;
}

.connected {
    background-color: #FFFFFF;
    color: var(--primary-color);
    font: var(--font-m);

}

.connect {
    background-color: var(--primary-color);
    font: var(--font-l);
}

.clearInverted {

}

